version: '3'
services:
  vocal-assistant:
    image: vocal-assistant
    env_file:
      - ./env/assistant.env
    ports:
      - "5000:5000"
    volumes:
      - ./config/:/home/dist/config
      # Share device options with the container
      - /boot:/boot
      - /sys:/dockerhost/sys:ro
      - /etc:/dockerhost/etc:ro
      - /proc:/dockerhost/proc:ro
    devices:
      # Share microphone and speaker to the container
      - /dev/snd:/dev/snd
    networks: 
      - proxyNet
    restart: 'unless-stopped'
  web-interface:
    image: interface
    env_file:
      - ./env/interface.env
    ports:
      - "8000:5000"
    depends_on:
      - vocal-assistant
    command: ./wait_for_it.sh vocal-assistant:5000 -- npm run start
    networks:
      - proxyNet
    restart: 'unless-stopped'

networks:
  proxyNet:
    name: vocalAssistantNet