version: '3'
services:
  vocal-assistant:
    image: vocal-assistant
    env_file:
      - process.env
    ports:
      - "5000:5000"
    volumes:
      - ./config/:/home/dist/config
    networks: 
      proxyNet:
        aliases:
          - interface
    restart: 'always'
  web-interface:
    image: interface
    env_file:
      - process.env
    ports:
      - "8000:5000"
    depends_on:
      - vocal-assistant
    command: ./wait_for_it.sh vocal-assistant:5000 -- npm run dev
    networks:
      - proxyNet
    restart: 'always'

networks:
  proxyNet:
    name: vocalAssistantNet