[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
SpeechRecognition = "*"
pyAudio = "*"
vosk = "*"
pyttsx3 = "*"
python-socketio = "*"
psutil = "*"
Sanic = "*"

[dev-packages]
