[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
SpeechRecognition = "*"
pyAudio = "*"
vosk = "*"
pyttsx3 = "*"
psutil = "*"
Flask = "*"
Flask-SocketIO = "*"
eventlet = "*"

[dev-packages]
